.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: #2d3436;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    /*box-shadow: 2px 2px 3px #999;*/

    font-size: 20pt;

    /* text centered horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;

    /* transition */
    transition: all 0.3s ease-in-out;

}

.float:hover {
    background-color: #636e72;
    color: #FFF;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.my-float{
    margin-top:22px;
}

@media screen and (max-width: 768px) {
    .float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
        font-size: 15pt;
    }

    .my-float {
        margin-top: 12px;
    }
}

.filter-white {
    filter: brightness(0) invert(1);
}
