@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'DINbeck';
    src: url('../fonts/DINbek_Black.ttf');
}

:root {
    --palette_green: #54958d;
    --palette_yellow: #eeaa59;
    --palette_red: #d74665;
}

html, body {
    margin: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}

section {
    margin: 0 0 0 0;
}

a {
    text-decoration: underline;
    color: #212529;
}

.block {
    margin-top: 3em;
    margin-bottom: 3em;

    padding-top: 2em;
    padding-bottom: 2em;
}

.block-title {
    font-family: 'DINbeck', sans-serif;
    text-transform: uppercase;

    margin-bottom: 1em;
}

.h-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-green {
    color: var(--palette_green);
}

.text-yellow {
    color: var(--palette_yellow);
}

.text-red {
    color: var(--palette_red);
}

.text-white {
    color: white;
}

.background-green {
    background-color: var(--palette_green);
}

.background-yellow {
    background-color: var(--palette_yellow);
}

.background-red {
    background-color: var(--palette_red);
}