<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Repare café Arles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
</head>

<body>
    <!-- Header-->
    <header class="d-flex flex-wrap align-content-center justify-content-center py-3 mb-2 border-bottom">
        <img class="logo" width="220" height="72" alt="Répare-Café" src=<%=require("./images/logo.webp")%>>
    </header>

    <!-- Modal on visit -->
    <!-- Button trigger modal -->
    <button id="modalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="position: absolute; display: none;">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Note the date !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Prochain Répare-Café :</strong><br>
                    </p>
                    <p>
                        <strong>Date :</strong> le 26 janvier 2025<br>
                    </p>
                    <p>
                        <strong>Horaires :</strong> de 13h30 à 16h30<br>
                        <strong>Lieu de l'évènement :</strong><br>
                        la CIA, 4 rue de l'hôtel de ville<br>
                        13200 Arles<br>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- C'est quoi un répare-café -->
    <section class="block mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 h-center">
                    <div>
                        <h1 class="block-title text-green">C'est quoi un répare-café</h1>
                        <p>
                            C'est un atelier participatif qui à pour but de redonner vie à vos objets avec l'aide de nos
                            bénévoles réparateur.ice.s.
                        </p>
                        <p>
                            <strong>Chaque objet réparé, c'est un déchet évité !</strong>
                        </p>
                        <p>
                            Ainsi si vous avez un objet cassé apportez le à nos bénévoles, nous serons heureux de vous
                            faire
                            participer à sa remise en état et de vous donner des explications, des conseils, etc.
                            Vous n'avez rien à réparer ? Vous êtes les bienvenu.e.s aussi. Vous pourrez également
                            profiter
                            de ce moment convivial pour observer les réparations en cours, discuter avec l'équipe, boire
                            un
                            verre, manger une gourmandise ou faire un peu de lecture sur le bricolage ou la couture !
                            <couture class=" "></couture>
                        </p>
                        <p>
                            <strong>Nous organisons un Répare-Café tout les mois environ.</strong>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Webpack image import -->
                    <img src=<%=require("./images/c_est_quoi.webp")%> class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <!-- C'est où ? C'est quand ? -->
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Webpack image import 
                    <div style="text-decoration:none; overflow:hidden;max-width:100%;width:500px;height:500px;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=LA+VERRERIE,+Place+Léopold+Moulias,+Arles,+France&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="from-embedmap-code" href="https://www.bootstrapskins.com/themes" id="make-map-data">premium bootstrap themes</a><style>#display-google-map img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
                    -->
                    <img src=<%=require("./images/its_here.webp")%> class="img-fluid">
                </div>
                <div class="col-md-8 h-center">
                    <div>
                        <h1 class="block-title text-red">c'est où ? c'est quand ?</h1>
                        <p>
                            <strong>Prochain Répare-Café :</strong><br>
                        </p>
                        <p>
                            <strong>Date :</strong> le 26 janvier 2025<br>
                        </p>
                        <p>
                            <strong>Horaires :</strong> de 13h30 à 16h30<br>
                            <strong>Lieu de l'évènement :</strong><br>
                            la CIA, 4 rue de l'hôtel de ville<br>
                            13200 Arles<br>
                        </p>
                        <!-- bouton ajouter au calendrier -->
                        <add-to-calendar-button name="Répare Café" startDate="2025-01-26T13:30:00" endDate="2025-01-26T16:30:00" location="4 rue de l'hôtel de ville, 13200 Arles" description="Répare Café Arles"
                            options="['Apple','Google','iCal','Microsoft365','Outlook.com','Yahoo']" timeZone="Europe/Paris" class=""></add-to-calendar-button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Comment m'inscrire ? -->
    <section class="block background-red">
        <div class="container">
            <div class="row">
                <div class="col-md-9 h-center">
                    <div>
                        <h1 class="block-title text-white">Comment m'inscrire ?</h1>
                        <div class="text-white">
                            <p>
                                Il suffit de remplir un <strong>formulaire d'inscription</strong> en ligne que vous trouverez <a href="https://9q8l5.r.a.d.sendibm1.com/mk/mr/sh/6rqJ8GoudeITPxXg0FiZMlWZsYP/enD4cI2DZBSy" target="_blank"><strong>EN CLIQUANT ICI</strong></a>.                             
                            <p>
                                Les Répare-Cafés sont ouverts à toutes et tous !
                                Vous devez cependant <strong>adhérer à l'association ZDPA</strong> soit sur place en
                                arrivant,
                                soit en ligne : <a
                                    href="https://www.helloasso.com/associations/zero-dechet-pays-d-arles"><strong>EN
                                        CLIQUANT ICI</strong></a>. (prix libre à partir d'un euro)
                            </p>
                            <p>
                                Nous réparons principalement du petit électroménager, du petit mobilier et parfois du
                                textile. Toutefois si vous avez un doute sur la réparabilité d'un objet ou des
                                questions,
                                <strong>n'hésitez pas à nous écrire !</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- Webpack image import -->
                    <img src=<%=require("./images/checklist.webp")%> class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <!-- Qui sommes nous ? -->
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Webpack image import -->
                    <img src=<%=require("./images/kika_zdpa.webp")%> class="img-fluid">
                </div>
                <div class="col-md-6 h-center">
                    <div>
                        <h1 class="block-title text-green">Qui sommes nous ?</h1>
                        <p>
                            Le projet d'organiser des Répare-Cafés à Arles est né en 2018.
                            Ces évènements étaient alors organisés par différentes
                            associations dont <strong>Zéro Déchets Pays d'Arles.</strong>
                        </p>
                        <p>
                            En 2022/2023, ZDPA s'est rapprochée de Kikassi Kikassa, la bibliothèque d'objets de la ville.
                            Ensemble, nos deux associations ont relancé une dynamique autour de cette idée simple :
                            Mieux
                            vaut réparer que gaspiller !
                            À présent, nous comptons une dizaine de bénévoles.
                        </p>
                        <p>
                            <strong>En 2023, nous avons organisé 5 répares-cafés.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Contactez nous -->
    <section class="block background-yellow">
        <div class="container">
            <div class="row">
                <div class="col-md-8 h-center">
                    <div>
                        <h1 class="block-title">Contactez nous</h1>
                        <div class="">
                            <p>
                                Pour toute demande à propos des Répare-Cafés, écrivez-nous à :
                                <strong><a
                                        href="mailto:contact@reparcafe-arles.fr">contact@reparcafe-arles.fr</a></strong>
                            </p>
                            <p>
                                Vous pouvez aussi consulter les sites internet de nos deux associations
                                et nous suivre sur nos réseaux sociaux respectifs :
                            </p>
                            <p>
                                <strong>ZDPA</strong> : <i class="fa-brands fa-square-facebook"></i> <i
                                    class="fa-brands fa-square-instagram"></i>
                                <strong>site internet : <a
                                        href="https://zerodechetpaysdarles.fr/">https://zerodechetpaysdarles.fr/</a></strong>
                            </p>
                            <p>
                                <strong>KIKA</strong> : <i class="fa-brands fa-square-facebook"></i> <i
                                    class="fa-brands fa-square-instagram"></i>
                                <strong>site internet : <a
                                        href="https://kikassikikassa.fr/">https://kikassikikassa.fr/</a></strong>
                            </p>
                            <p>
                                <strong>Nos évènements sont aussi relayé par <a
                                        href="https://Arlons-y.fr">Arlons-y.fr</a></strong><br>
                                Le collectif qui vous propose la carte des solutions durables à Arles.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Webpack image import -->
                    <img src=<%=require("./images/khalil.webp")%> class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <!-- Mais pourquoi -->
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-8 h-center">
                    <div>
                        <h1 class="block-title text-red">Mais pourquoi ?</h1>
                        <p>
                            La réparation participe à la <strong>réduction de l'extraction de ressources
                                naturelles</strong>
                            et à la <strong>réduction de la quantité de déchets</strong> que nous produisons.
                        </p>
                        <p>
                            Le développement de la réparation figure comme <strong>une priorité</strong> dans la loi de
                            2015
                            relative à la transition (LTECV) ainsi que pour l'Agence de l'environnement et de la
                            maîtrise de
                            l'énergie (Ademe).
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Webpack image import -->
                    <img src=<%=require("./images/62percent.webp")%> class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <!-- Paragraphe -->
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Webpack image import -->
                    <img src=<%=require("./images/590kg.webp")%> class="img-fluid">
                </div>
                <div class="col-md-7 h-center">
                    <div>
                        <p>
                            <strong>A ce titre les répare cafés :</strong>
                        </p>
                        <ul>
                            <li>Permettent de promouvoir un "réflexe réparation" en offrant une proposition locale et
                                accessible financièrement.
                            </li>
                            <li>Créent du lien social et de la solidarité.</li>
                            <li>Font connaître et mettent en lien les acteurs du réemploi et de la réparation à Arles et
                                dans les environs.
                            </li>
                            <li>Promeuvent une économie vertueuse, en lien avec le défi de transition écologique et de
                                la
                                réduction de nos déchets (Refuser les déchets évitables, Réduire nos besoins,
                                Réutiliser,
                                Recycler, Rendre à la terre).
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer border-top mt-auto py-3 row w-auto mx-4">
        <div class="mentions-legales col-sm mt-3 text-center">
            <a href="mentions-legales.html">Accéder aux mentions légales</a>
        </div>
        <div class="liens-utiles col-sm mt-3">
            <ul class="list-unstyled mx-auto">
                <li class="py-2">
                    <img src=<%=require("./images/logoZDPA.webp")%> width="40px">
                    <a href="https://zerodechetpaysdarles.fr/">Zéro déchet pays d'arles</a>
                </li>
                <li class="py-2">
                    <img src=<%=require("./images/kikass.webp")%> width="40px">
                    <a href="https://kikassikikassa.fr/">Kikassi Kikassa</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Dark mode toggle -->
    <span class="float" id="dark-toggle" title="Activer/désactiver le mode sombre">
        <svg class="filter-white" xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
                d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z" />
        </svg>
    </span>

</body>

</html>